div {width: 400px; height: 100px;}
.a {background-color: pink;}
.b {background-color: skyblue;
position: sticky; top: 100px;}













/* for codepen.io */
body {
  width: 500px; height: 1000px;
  background-color: #fff;
  margin: 8px auto;
  position: relative;
}
html {
  background-color: #ddd;
}