div.box {
  width: 100px; height: 100px;
  background-color: coral;
  border: 1px solid #bbb;
  margin-left: 20px;
}
.a
{position: relative; left:  20px;}
.b
{position: relative; right: 20px;}
.c
{position: relative; left: 10px; top: 20px;}
.d
{position: relative; left: 20px; bottom: 20px;}








.base {
  width: 500px; height: 600px;
  border: 1px solid #000;
}