.a {
  width: 200px; height: 30px;
  background-color: orange;
  /* position: relative; top: 10px; */
}
.b {
  width: 250px; height: 60px;
  background-color: skyblue;
  /* position: relative; left: 10px; */
}
.fl {float: left;}
.pos {
  position: relative;
  top: 10px; left: 10px;
}








.base {
  width: 500px; height: 600px;
  border: 1px solid #000;
}